    body {
        background-color: aliceblue;
    }
    
    nav {
        max-width: 1024px;
        width: auto;
    }
    
    .header {
        background-color: rgb(238, 237, 9, 0.8);
    }
    
    .bottomCard {
        display: flex;
        justify-content: space-between;
    }